<div class="container">
<form (submit)=onsubmit()>

<div class="form-group">
<label>Id</label>
<input type="number" name="id" [(ngModel)] = "user.id" class="form-control" >
</div>

<div class="form-group">
<label>Title</label>
<select name="sname" [(ngModel)]="user.title" class="form-control">
<option *ngFor ="let x of tarray" value="{{x}}">{{x}}</option>
</select>
</div>

<div class="form-group">
<label>FirstName</label>
<input type="text" name="firstname" [(ngModel)] = "user.firstname" class="form-control"/>
</div>


<div class="form-group">
<label>LastName</label>
<input type="text" name="lastname" [(ngModel)] = "user.lastname" class="form-control"/>
</div>

<div class="form-group">
<label>Email</label>
<input type="text" name="email" [(ngModel)] = "user.email" class="form-control"/>
</div>



<div class="form-group">
<label>DOB</label>
<input type="date" name="dob" [(ngModel)] = "user.dateofbirth" class="form-control"/>
</div>
<input type="submit" class="btn btn-primary" value="Submit">

</form>

<hr>
<table class="table table-stripped table-bordered">
<thead>
<tr><td>Name</td><td>DOB</td><td>Email</td></tr>
</thead>
<tbody>
<tr *ngFor ="let user of users">
<td style="color:red;">{{user.title}}.{{user.firstname}} {{user.lastname}}</td>
<td>{{user.dateofbirth}}</td>
<td style="color:red;">{{user.email}}</td>
</tbody></table></div>





